<launch>
    <rosparam command="load" file="$(find robosoft)/resources/franka_config.yaml" ns='robosoft'/>

    <include file="$(find realsense2_camera)/launch/rs_rgbd.launch" />
    <include file="$(find dynamixel_workbench_controllers)/launch/dynamixel_controllers.launch" />
    <include file="$(find panda_moveit_config)/launch/panda_control_moveit_rviz.launch">
        <arg name="load_gripper" value="false"/>
        <arg name="robot_ip" value="172.16.0.2"/>
    </include>

    <!-- <node pkg="tf" type="static_transform_publisher" name="hand_camera_tf" args="-0.0492027  -0.1906576  -0.0674672   0.01624818  0.00715598 -0.01470204 0.99973428 /panda_link8 /panda_camera 100"/>  -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="-3.31632564e-02 -7.01556034e-02  1.06347141e-01  2.73714222e-04 2.62427729e-03  3.45783760e-04  9.99996459e-01 /panda_link8 /panda_camera 100" /> -->
    <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="0.11524274 -0.00213615  0.0474157  -0.20098686 -0.21733238  0.66905436 0.68171634 /panda_link8 /panda_camera 100" />

</launch>