<launch>
    <rosparam command="load" file="$(find robosoft)/resources/ur_sim_config.yaml" ns='robosoft'/>

    <!-- <include file="$(find ur_e_gazebo)/launch/ur5e_joint_limited.launch">
        <arg name="gui" value="false"/>
    </include>

    <include file="$(find ur5_e_moveit_config)/launch/ur5_e_moveit_planning_execution.launch">
        <arg name="sim" value="true"/>
        <arg name="limited" value="true"/>
    </include>

    <include file="$(find ur5_e_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include> -->

    <include file="$(find ur_e_gazebo)/launch/ur5e.launch">
        <arg name="gui" value="false"/>
    </include>

    <include file="$(find ur5_e_moveit_config)/launch/ur5_e_moveit_planning_execution.launch">
        <arg name="sim" value="true"/>
    </include>

    <include file="$(find ur5_e_moveit_config)/launch/moveit_rviz.launch">
        <arg name="config" value="true"/>
    </include>

    <!-- <node pkg="robosoft" type="UR5e" name="UR5e" output="screen"/>
    <node pkg="robosoft" type="ur5e_control.py" name="ur5e_control" output="screen"/> -->

    <!-- <node pkg="tf" type="static_transform_publisher" name="hand_camera_tf" args="-0.0492027  -0.1906576  -0.0674672   0.01624818  0.00715598 -0.01470204 0.99973428 /panda_link8 /panda_camera 100"/>   
    <node pkg="tf" type="static_transform_publisher" name="hand_gripper_tf" args="0  0  0.21 0 0 0 0 / /panda_camera 100"/>  -->
    <!-- <node pkg="tf" type="static_transform_publisher" name="camera_tf" args="0 0 0 0 0 0 /panda_camera /camera_color_optical_frame 100"/>  -->
</launch>