<launch>
    <rosparam command="load" file="$(find robosoft)/resources/ur_config.yaml" ns='robosoft'/>

    <!-- <include file="$(find ur_gazebo)/launch/ur5e_bringup.launch" /> -->
    <include file="$(find ur5e_moveit_config)/launch/ur5e_moveit_planning_execution.launch" />
    <include file="$(find ur5e_moveit_config)/launch/moveit_rviz.launch" >
            <arg name="rviz_config" value="$(find ur5e_moveit_config)/launch/moveit.rviz"/>
    </include> 

    <node pkg="robosoft" type="UR5e" name="ur_robot" />
    <node pkg="tf" type="static_transform_publisher" name="camera_link_broadcaster" args="-6.43850345e-02  6.29696297e-02  1.43632294e-01 -4.59862325e-04 9.21444955e-03  8.34137288e-01 -5.51479706e-01 /tool0 /camera 100" />

</launch>